/node_modules
/public/hot
/public/storage
/public/front/*.map
/storage/*.key
/vendor
.env
.env.backup
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.DS_Store
*.orig
